* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

section {
    
    padding: 40px; 
 }

#home{
      
     width: 100%;
     height: auto;
     background-color:#87509c;
}

 .header{
    width: 100%;
    float: left;
}
.logo{
    width: 50%;
    float: left;
    padding-top: 10px;
    padding-left: 100px;
}
.menu-list{
    width: 50%;
    height: auto;
    float: left;
    padding-top: 10px;
    padding-left: 213px;
} 
.menu-list nav ul li{  
     list-style: none;
     display: inline-block;
}
.menu-list nav ul li a { 
      text-decoration: none;
      color: white;
      padding: 15px; 
      margin-top: 20px;
      font-size: 18px;
      font-family: Arial;
}      

.menu-list nav ul li a:hover { 
    background-color: #643a79; 
    transition: 0.5s
}

.header-text{
    width: 100%;
    height: auto;
    padding-top: 80px; 
    text-align: center;
    color: white;
}

<!-- ------------------------ SERVICES------------------------ -->

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
.container{
    width: 100%;
    margin: 50px auto; 
    text-align: center;
    color: white;
    font-size: 22px; 
    font-family: Arial;
}
button{
    padding: 20px 60px;
    margin-top: 40px;
    border: none;
    background-color: #eb7d4b;
}
button a{ 
    text-decoration: none;
    font-size:20px; 
    color: white;
    
} 
button:hover{
     background-color: rgb(104, 230, 152);
}
button a:hover{
    color: #eb7d4b;
    transition: 0.5s;
}  

#about{
	width: 100vw;
	text-align: center;
	background-color: #17C2A4;
	height: auto;
	position: absolute;
	padding: 30px;
	color: #fff;
	font-family: arial;
}
.about-max{
	width: 100%;
	height: auto;
	position: relative;
}
.continer{
	width: 90vw;
	margin: auto;
}
h2{
	
	text-align: center;
	padding-top: 35px;
	font-size: 36px;
}
hr{
	background-color: gray;
	width: 6em;
	height: 3px;
	text-align: center;
	display: inline-block;
	margin: 10px 0px;
}
.img{
	width: 25%;
	float: left;
}
.img img{
	width: 45%;
}
h3{
	font-size: 18px;
	margin-top: 22px;
	font-family: arial;

}
.about-max p{
	font-size: 20px;
	padding-bottom: 60px;
}
.img p{
	font-size: 15px;
	display: inline-block;
	padding: 10px;
}

